.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}
.TitleGenreStyle {
  color: rgb(107, 111, 116);
  font-size: 2vw;
  font-style: italic;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  font-weight: 400;
  text-shadow: 4px 4px 8px #252424;
}
