.weather {
  width: fit-content;
  display: grid;
  grid-template-columns: 20% 70%;
  column-gap: 0.5rem;
  padding: 7px;
  margin-right: 2rem;
  border-radius: 7px;
  font-size: 15px;
  color: rgb(43, 41, 41);
  background-color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.weather img {
  width: 140%;
}

.weather div {
  display: grid;
  width: 140%;
  height: 130%;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 12px 22px, rgba(0, 0, 0, 0.23) 0px 8px 8px;
  border-color: aqua;
}
