body {
  background-image: var(--bg-image);
  background-size: cover;
}

.AboutStyle {
  display: flex;
  color: aliceblue;
  font-size: 17px;
  font-weight: 100;
  font-family: "Dosis", sans-serif;
  width: 75%;
  text-align: center;
  margin: 1px 5px 7px;
  padding: 13px;
  text-align: left;
  list-style-type: none;
  line-height: 1.8;
}
