/* Navbar Buttons  */

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color:transparent;
  border: 2px solid;
  border-radius: 30px;
  color: transparent;
  cursor: pointer;

  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  margin: 25px;
  
  width: 15%;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif; 
  letter-spacing: 7px;
}
.btn:hover,
.btn:focus {
  color: rgb(26, 25, 25);
  outline: 0;
}

.third {
  border-color: #00ffcb;
  color: rgb(104, 98, 98);
  box-shadow: 0 0 40px 40px #00ffcb inset, 0 0 0 0 #00ffcb;
  -webkit-transition: all 170ms ease-in-out;
  transition: all 11ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #00ffcb inset, 0 0 10px 4px #00ffcb;
}


/* Register Button  */

.button {
    min-width: 130px;
    min-height: 35px;
    font-family: "Dosis", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(
      90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 4s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 5px;
  }
  
  button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(119px + 12px);
    min-height: calc(20px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 4s ease-in-out 0s;
  }
  
  .button:hover,
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before,
  button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 10s infinite;
  }
  
  button:hover::after,
  button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  