.wrap {
  align-items: center;
  display: contents;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  letter-spacing: 5%;
  margin-bottom: 50%;
  margin: 20px;
  padding: 30px;
  width: 10%;
}
nav {
  display: flex;
  align-items: center;
}

@media (max-width: 575.98px) {
  nav {
    flex-wrap: wrap;
  }
}
